In [42]:
 #! Q1. Reading, Writing, and Appending Data in Different File Formats (CSV, Excel, JSON)

import pandas as pd
 #! a) Read the dataset (CSV) into a Pandas DataFrame.
dataset = pd.read_csv("./titanic/train.csv")

In [43]:
 #! b) Write the loaded DataFrame into two additional formats:

#! (a) Excel (.xlsx)
dataset.to_excel("./new_data_type/train.xlsx", index=False)

#! (b) JSON (.json)
dataset.to_json("./new_data_type/train.json", index=False)

In [44]:
 #! c) Read the dataset back from each format (CSV, Excel, JSON) into new DataFrames and verify consistency (e.g., shape, column names, basic value checks).
csv_df = pd.read_csv("./titanic/train.csv")
excel_df = pd.read_excel("./new_data_type/train.xlsx")
json_df = pd.read_json("./new_data_type/train.json")

print("CSV DataFrame shape:", csv_df.shape)
print("Excel DataFrame shape:", excel_df.shape)
print("JSON DataFrame shape:", json_df.shape)

print("CSV DataFrame columns:", csv_df.columns)
print("Excel DataFrame columns:", excel_df.columns)
print("JSON DataFrame columns:", json_df.columns)

print("CSV DataFrame head:")
print(csv_df.head())
print("Excel DataFrame head:")
print(excel_df.head())
print("JSON DataFrame head:")
print(json_df.head())

#* Conclusion:
#* the shapes, columns, and basic values of the DataFrames are consistent across all formats.

CSV DataFrame shape: (891, 13)
Excel DataFrame shape: (891, 13)
JSON DataFrame shape: (891, 13)
CSV DataFrame columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'survived'],
      dtype='object')
Excel DataFrame columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'survived'],
      dtype='object')
JSON DataFrame columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'survived'],
      dtype='object')
CSV DataFrame head:
   PassengerId  Survived  Pclass  \
0            1       0.0     3.0
1            2       1.0     1.0
2            3       1.0     3.0
3            4       1.0     1.0
4            5       0.0     3.0

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0    1.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1.0
2                             Heikkinen, Miss. Laina  female  26.0    0.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1.0
4                           Allen, Mr. William Henry    male  35.0    0.0

   Parch            Ticket     Fare Cabin Embarked  survived
0    0.0         A/5 21171   7.2500   NaN        S       NaN
1    0.0          PC 17599  71.2833   C85        C       NaN
2    0.0  STON/O2. 3101282   7.9250   NaN        S       NaN
3    0.0            113803  53.1000  C123        S       NaN
4    0.0            373450   8.0500   NaN        S       NaN
Excel DataFrame head:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  survived
0      0         A/5 21171   7.2500   NaN        S       NaN
1      0          PC 17599  71.2833   C85        C       NaN
2      0  STON/O2. 3101282   7.9250   NaN        S       NaN
3      0            113803  53.1000  C123        S       NaN
4      0            373450   8.0500   NaN        S       NaN
JSON DataFrame head:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  survived
0      0         A/5 21171   7.2500  None        S       NaN
1      0          PC 17599  71.2833   C85        C       NaN
2      0  STON/O2. 3101282   7.9250  None        S       NaN
3      0            113803  53.1000  C123        S       NaN
4      0            373450   8.0500  None        S       NaN

In [45]:
#  #! d) Append a few new passenger rows to each format (CSV, Excel, JSON). Reload each file and confirm that the newly appended rows are present.
print(csv_df.tail())

new_rows = pd.DataFrame({
    "PassengerId": [893, 894],
    "Survived": [0, 1],
    "Pclass": [3, 1],
    "Name": ["dipen one", "dipen two"],
    "Sex": ["male", "male"],
    "Age": [30, 25],
    "SibSp": [0, 1],
    "Parch": [0, 0],
    "Ticket": ["211710", "175990"],
    "Fare": [100, 150],
    "Cabin": ["NaN", "NaN"],
    "Embarked": ["Q", "Q"]
})

csv_df = pd.concat([csv_df, new_rows], ignore_index=True)
excel_df = pd.concat([excel_df, new_rows], ignore_index=True)
json_df = pd.concat([json_df, new_rows], ignore_index=True)

csv_df.to_csv("./titanic/train.csv", index=False)
excel_df.to_excel("./new_data_type/train.xlsx", index=False)
json_df.to_json("./new_data_type/train.json", index=False)

print("updated data after adding new stuff")
print(csv_df.tail())


# # Remove the last N rows from the CSV file (e.g., remove 2 rows)
# N = 2
# csv_df_trimmed = csv_df.iloc[:-N]
# csv_df_trimmed.to_csv("./titanic/train.csv", index=False)

# # Reload and confirm
# csv_df_reloaded = pd.read_csv("./titanic/train.csv")
# print(csv_df_reloaded.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887       0.0     2.0                     Montvila, Rev. Juozas
887          888       1.0     1.0              Graham, Miss. Margaret Edith
888          889       0.0     3.0  Johnston, Miss. Catherine Helen "Carrie"
889          890       1.0     1.0                     Behr, Mr. Karl Howell
890          891       0.0     3.0                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked  survived
886    male  27.0    0.0    0.0      211536  13.00   NaN        S       NaN
887  female  19.0    0.0    0.0      112053  30.00   B42        S       NaN
888  female   NaN    1.0    2.0  W./C. 6607  23.45   NaN        S       NaN
889    male  26.0    0.0    0.0      111369  30.00  C148        C       NaN
890    male  32.0    0.0    0.0      370376   7.75   NaN        Q       NaN
updated data after adding new stuff
     PassengerId  Survived  Pclass                                      Name  \
888          889       0.0     3.0  Johnston, Miss. Catherine Helen "Carrie"
889          890       1.0     1.0                     Behr, Mr. Karl Howell
890          891       0.0     3.0                       Dooley, Mr. Patrick
891          893       0.0     3.0                                 dipen one
892          894       1.0     1.0                                 dipen two

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked  survived
888  female   NaN    1.0    2.0  W./C. 6607   23.45   NaN        S       NaN
889    male  26.0    0.0    0.0      111369   30.00  C148        C       NaN
890    male  32.0    0.0    0.0      370376    7.75   NaN        Q       NaN
891    male  30.0    0.0    0.0      211710  100.00   NaN        Q       NaN
892    male  25.0    1.0    0.0      175990  150.00   NaN        Q       NaN

In [46]:
 #! e) Briefly compare the structural differences among CSV, Excel, and JSON (e.g., schema fidelity, metadata, readability, typical use-cases).
# * CSV (Comma-Separated Values):
#   - Schema Fidelity: Limited to flat, tabular data not for hierarchical or more comples dataset.
#   - Metadata: Lacks built-in metadata some external method is needed.
#   - Readability: Human-readable but only for the trained mindsets.
#   - Typical Use-Cases: Data exchange between applications and very simple datasets.
#
# * Excel (XLSX):
#   - Schema Fidelity: Supports complex data types, formulas, and multiple sheets in tabular format.
#   - Metadata: Rich metadata support (e.g., cell formatting, comments).
#   - Readability: User-friendly interface and more visually appealing compared to CSV.
#   - Typical Use-Cases: Business reporting, data analysis, and visualization.
#
# * JSON (JavaScript Object Notation):
#   - Schema Fidelity: Supports nested, hierarchical data structures and more easy to read.
#   - Metadata: Limited metadata support but more compared to csv.
#   - Readability: Human-readable but can become complex with deep nesting of data.
#   - Typical Use-Cases: mostly for Web APIs and data sharing, configuration files, and data interchange as well.

In [47]:
 #! Q2. Descriptive Statistics for All Columns

#! a) For all numerical columns (e.g., Age, Fare), compute summary statistics: mean,median, standard deviation, minimum, and maximum.

csv_df.describe() # mean, minimum, maximum, standard deviation,

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,survived
count,893.000000,893.000000,893.000000,716.000000,893.000000,893.000000,893.000000,0.0
mean,447.002240,0.384099,2.307951,29.692975,0.522956,0.380739,32.412037,NaN
std,257.935069,0.486654,0.836602,14.507234,1.101761,0.805355,49.845415,NaN
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,NaN
25%,224.000000,0.000000,2.000000,20.375000,0.000000,0.000000,7.925000,NaN
50%,447.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,NaN
75%,670.000000,1.000000,3.000000,38.000000,1.000000,0.000000,31.275000,NaN
max,894.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,NaN

In [48]:
# median 
print(csv_df.median(numeric_only=True))

PassengerId    447.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
survived            NaN
dtype: float64

In [ ]:
# Interpretation:
# - Central Tendency: The mean and median (50%) for Age (mean ≈ 29.7, median = 28) and Fare (mean ≈ 32.4, median ≈ 14.45) suggest that most passengers were young adults and paid relatively low fares, but the mean is higher than the median for Fare, indicating a right-skewed distribution.
# - Variability: The standard deviation for Fare (≈ 49.85) is high compared to its mean, showing large variability and possible outliers (e.g., max Fare = 512.33). Age also has a notable spread (std ≈ 14.5).
# - Possible Outliers: The maximum Fare (512.33) and Age (80) are much higher than the 75th percentile, suggesting outliers. Most passengers had 0 siblings/spouses (SibSp) and 0 parents/children (Parch), but some had much higher values (max SibSp = 8, max Parch = 6).
# - Survived: The mean survival rate is ≈ 0.38, so about 38% survived.

In [52]:
 #! c) For categorical columns (e.g., Sex, Embarked, Pclass), report frequency counts and comment on the distributions.

# Sex
print(csv_df['Sex'].value_counts())
# Interpretation: The dataset is approximately 65% male and 35% female, indicating a male-dominated sample.

# Embarked
print(csv_df['Embarked'].value_counts())
# Interpretation: Most passengers embarked from Southampton (S), with fewer from Cherbourg (C) and Queenstown (Q).

# Pclass
print(csv_df['Pclass'].value_counts())
# Interpretation: The majority of passengers were in 3rd class, followed by 1st and 2nd class.

Sex
male      579
female    314
Name: count, dtype: int64
Embarked
S    644
C    168
Q     79
Name: count, dtype: int64
Pclass
3.0    492
1.0    217
2.0    184
Name: count, dtype: int64

In [ ]:
import seaborn as sns

import matplotlib.pyplot as plt

# a) Histogram for 'Age'
plt.figure(figsize=(8, 5))
csv_df['Age'].hist(bins=30, edgecolor='black')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Distribution of Passenger Ages')
plt.show()

# b) Pie chart for 'Sex'
plt.figure(figsize=(6, 6))
csv_df['Sex'].value_counts().plot.pie(autopct='%1.1f%%', startangle=90, colors=['#66b3ff', '#ff9999'])
plt.ylabel('')
plt.title('Passenger Gender Composition')
plt.show()

# c) Box plot for 'Fare'
plt.figure(figsize=(8, 5))
sns.boxplot(x=csv_df['Fare'])
plt.xlabel('Fare')
plt.title('Box Plot of Passenger Fares')
plt.show()

# d) Correlation heatmap for numerical columns
plt.figure(figsize=(10, 6))
corr = csv_df.select_dtypes(include=['float64', 'int64']).corr()
sns.heatmap(corr, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap (Numerical Features)')
plt.show()